app-news-carousel {
    box-sizing: border-box;
    container-name: news-carousel;
    container-type: inline-size;
    display: block;
    position: relative;
    height: var(--news-carousel-height, 25rem);
    width: var(--news-carousel-max-width, 50rem);
    max-width: 100%;
}

app-news-carousel * {
    box-sizing: border-box;
}

app-news-carousel *:where(h2, h3, h4) {
    font-size: 1.5rem;
    font-weight: bold;
}

/****************************
 * Carousel Controls Styling
 ****************************/
app-news-carousel .news-carousel-controls {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    display: flex;

    $icon-height: 2rem;
    $icon-width: 3rem;
    $icon-padding: 0.25rem;
    button {
        background: var(--news-carousel-button-background, rgb(0 0 0 / 0.5));
        border: none;
        border-radius: 0.25rem;
        color: var(--news-carousel-button-color, white);
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc($icon-height + ($icon-padding * 2));
        width: calc($icon-width + ($icon-padding * 2));
        margin: 0;
        padding: 0;

        &:not(:first-of-type) {
            rotate: 180deg;
            margin-left: 0.5rem;
        }

        &:focus,
        &:hover {
            outline: 0.188rem solid var(--news-carousel-button-color, white);
            outline-offset: -0.25rem;
        }

        svg {
            height: $icon-height;
            width: $icon-width;
        }
    }
}

/**************************
 * Carousel Slides Styling
 **************************/
app-news-carousel .news-carousel-items {
    position: relative;
    // placeholder if image hasn't finished loading
    background: rgb(146, 146, 146);
    height: inherit;
    width: inherit;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;

    // Provide focus indicator for the whole slide.
    &:focus-within {
        outline: 0.25rem solid var(--news-carousel-slide-focus-color, black);
        outline-offset: 0.125rem;
    }

    // Hide focus indicator for image and heading links.
    // Instead a focus indicator is shown for the whole slide (see above).
    a[href]:focus {
        outline: none;
    }
}

app-news-carousel .news-item {
    position: absolute;
    height: inherit;
    width: inherit;
    max-width: 100%;
    visibility: hidden;

    &.active {
        visibility: visible;
    }

    a.image-link {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .slide-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: var(--news-carousel-text-background, rgb(0 0 0 / 0.8));
        border-radius: 0.5rem 0.5rem 0 0;
        width: max(60%, 25rem);
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75em 0.75rem 1rem;
        pointer-events: none;

        :is(h2, h3, h4, p) {
            color: var(--news-carousel-text-color, white);
            margin: 0;
            padding: 0;
            text-align: center;
        }

        a[href] {
            color: inherit;
            text-decoration: underline;
        }
    }
}

// Container Queries are not yet supported in all browsers.
// See: https://caniuse.com/css-container-queries
@container news-carousel (max-width: 28rem) {
    app-news-carousel .news-item .slide-text {
        bottom: 0.5rem;
        border-radius: 0.5rem;
        width: calc(100% - 1rem);

        p {
            display: none;
        }
    }

    app-news-carousel .news-item.active .slide-text :is(h2, h3, h4) {
        visibility: hidden;

        a[href] {
            visibility: visible;
        }
    }
}

/***************************
 * Carousel Slide Animation
 ***************************/
app-news-carousel .news-carousel-items.animate-from-left .news-item {
    &.active {
        animation: slide-in-from-left 0.5s forwards;
    }

    &.moved-out {
        animation: slide-out-to-right 0.5s forwards;
        border-left: 0.125rem solid white;
    }
}

app-news-carousel .news-carousel-items.animate-from-right .news-item {
    &.active {
        animation: slide-in-from-right 0.5s forwards;
    }

    &.moved-out {
        animation: slide-out-to-left 0.5s forwards;
        border-right: 0.125rem solid white;
    }
}

// Keyframes for slide animation from left to right
@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out-to-right {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

// Keyframes for slide animation from right to left
@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out-to-left {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }
    100% {
        transform: translateX(-100%);
        visibility: hidden;
    }
}
