<div class="carousel-controls">
    <button
        type="button"
        (click)="this.showPreviousSlide()"
    >
        {{config.previousButtonLabel}}
    </button>
    <button
        type="button"
        (click)="this.showNextSlide()"
    >
        {{config.nextButtonLabel}}
    </button>
</div>
<div
    class="carousel-items"
    aria-live="polite"
    [ngClass]="{
        'animate-from-left': currentDirection === animDirection.FromLeft,
        'animate-from-right': currentDirection === animDirection.FromRight
    }"
>
    <div
        *ngFor="let item of newsItems; let i = index"
        class="news-item"
        [ngClass]="{'active': currentActiveSlide === i, 'moved-out': lastActiveSlide === i}"
        role="group"
        [attr.aria-roledescription]="config.slideDescription"
        [attr.aria-label]="(i+1) + ' ' + config.slideLabel + ' ' + newsItems.length"
    >
        <img
            [src]="item.imageUrl"
            alt
        >
        <div
            class="slide-text"
            [ngSwitch]="slideHeadingLevel"
        >
            <h2 *ngSwitchCase="headingLevel.Level2">
                <a [href]="item.link">{{item.heading}}</a>
            </h2>
            <h3 *ngSwitchCase="headingLevel.Level3">
                <a [href]="item.link">{{item.heading}}</a>
            </h3>
            <h4 *ngSwitchCase="headingLevel.Level4">
                <a [href]="item.link">{{item.heading}}</a>
            </h4>
            <p>{{item.textSnippet}}</p>
        </div>
    </div>
</div>
