<h1>Accessible News Carousel</h1>
<p>News carousel with default heading level 2 and custom styling.</p>
<app-news-carousel
    carouselLabel="Tech News"
    [newsItems]="newsItems"
    class="custom-styled-carousel"
></app-news-carousel>
<h2>Another Carousel Example</h2>
<p>News carousel with heading level 3 and default styling.</p>
<app-news-carousel
    carouselLabel="More Tech News"
    [newsItems]="newsItems"
    [slideHeadingLevel]="headingLevel.Level3"
></app-news-carousel>
<h2>Image Copyright</h2>
<p>
    All images are from
    <a
        href="https://www.pexels.com/de-de/"
        target="_blank"
    >
        pexels.com
    </a>
</p>
